<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
  <h2 class = "centered">View Jobs By Category</h2>
</div>

<table class="centeredTable">
  <tr>
    <th:block th:each="column : ${columns}">
      <th th:text = "${column.value}"></th>
    </th:block>
  </tr>
  <tr>
    <!-- TODO #2: Complete the View Jobs By Category Table. -->
<!--    Modify list.html to fill in the empty table cell with the necessary link.
Check ListController to help identify the data to pass in for the query parameters.
Be sure to test your code by clicking your new View All link in the table. There are 98 jobs in the data file.-->

    <td>
      <ul>
        <li>
<!--          It does NOT like me entering th:text="View All" for some reason.
Also, the href seems to go to the right place, but is not listing all jobs via ListController...-->
          <a th:href="@{/list/jobs/(column=all)}">View All</a>
        </li>
      </ul>
    </td>

    <td th:each="category : ${tableChoices}">
      <ul>
        <li th:each="item : ${category.value}">
          <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>
        </li>
      </ul>
    </td>
  </tr>
</table>

</body>
</html>